{% extends "layout.html" %}
{% set pageId = "page-cadastro" %}

{% block styles %}
<link rel="stylesheet" href="./css/cadastro.css">
<link rel="stylesheet" href="./css/modal.css">
{% endblock styles %}

{% block title %}
<title>Next Level - Cadastro</title>
{% endblock title%}

{% block contant %}
{% include "header.html" %}
<form action="pontosalvo" method="POST">
    <h1>Cadastro do ponto de coleta</h1>
    <fieldset>
        <legend>
            <h2>Dados da entidade</h2>
        </legend>
        <div class="field">
            <label for="nome">Nome da entidade</label>
            <input type="text" name="nome">
        </div>
        <div class="field-group">
            <div class="field">
                <label for="endereco">Endereço</label>
                <input type="text" name="endereco">
            </div>
            <div class="field">
                <label for="numero">Número/Complemento</label>
                <input type="text" name="numero">
            </div>
        </div>
        <div class="field-group">
            <div class="field">
                <label for="uf">Estado</label>
                <select name="uf" id="uf">
                    <option value="">Selecione o Estado</option>
                </select>
                <input type="hidden" name="estado">
            </div>
            <div class="field">
                <label for="cidade">Cidade</label>
                <select name="cidade" id="cidade" disabled>
                    <option value="">Selecione a Cidade</option>
                </select>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>
            <h2>Itens de coleta</h2>
            <span>Selecione um ou mais intens abaixo</span>
        </legend>
        <div class="items-grid">
            <li data-id="Lâmpada">
                <img src="./assets/lampadas.svg" alt="lâmpada">
                <span>Lâmpada</span>
            </li>
            <li data-id="Pilhas e Baterias">
                <img src="./assets/baterias.svg" alt="Bateria">
                <span>Pilhas e Baterias</span>
            </li>
            <li data-id="Papéis e Papelão">
                <img src="./assets/papeis-papelao.svg" alt="Papéis">
                <span>Papéis e Papelão</span>
            </li>
            <li data-id="Resíduos Eletrônicos">
                <img src="./assets/eletronicos.svg" alt="Eletrônicos">
                <span>Resíduos Eletrônicos</span>
            </li>
            <li data-id="Resíduos Orgânicos">
                <img src="./assets/organicos.svg" alt="Resíduos Orgânicos">
                <span>Resíduos Orgânicos</span>
            </li>
            <li data-id="Óleo de Cozinha">
                <img src="./assets/oleo.svg" alt="Óleo de cozinha">
                <span>Óleo de Cozinha</span>
            </li>
        </div>
        <input type="hidden" name="items">
    </fieldset>
    <button>Cadastrar ponto de coleta</button>
</form>


{% endblock contant %}
{% block modal %}
    {% if saved %}
        {% include "modalCadastro.html" %}
    {% endif %}
    
    {% if error %}
        {% include "modalerro.html" %}
    {% endif %}
    
{% endblock modal %}

{% block script %}
<script src="./js/cadastroEndereco.js"></script>
{% endblock script %}