<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/geral.css">
    <link rel="stylesheet" href="./css/grid.css">
    <link rel="stylesheet" href="./css/responsive.css">
    <title>Next Level</title>
</head>
<body>
    <div id="page-resultado">
        <header>
            <img src="/assets/logo.svg" alt="logomarca">
            <a href="/">
                <span></span>
                Voltar para home</a>
        </header>
        <main>
            <h4>
                <strong>2 pontos</strong> encontrados
            </h4>
            <div class="cards">
                <div class="card">
                    <img src="./assets/ponto-eletronico.jpg" alt="Colectoria">
                    <h1>Colectoria</h1>
                    <h3>Resíduos Eletrônicos, Lâmpadas</h3>
                    <p>
                        Cidade Ocidental, Goiás </br>
                        Sq 12, quadra 2, Centro </br>
                        Casa 44
                    </p>
                </div>
                <div class="card">
                    <img src="./assets/ponto-organico.jpg" alt="Papersider">
                    <h1>Papersider</h1>
                    <h3>Resíduos Orgânicos, Óleo de Cozinha</h3>
                    <p>
                        Cidade Ocidental, Goiás </br>
                        Sq 12, quadra 2, Centro </br>
                        Casa 44
                    </p>
                </div>
                <div class="card">
                    <img src="./assets/ponto-eletronico.jpg" alt="Colectoria">
                    <h1>Colectoria</h1>
                    <h3>Resíduos Eletrônicos, Lâmpadas</h3>
                    <p>
                        Cidade Ocidental, Goiás </br>
                        Sq 12, quadra 2, Centro </br>
                        Casa 44
                    </p>
                </div>
                <div class="card">
                    <img src="./assets/ponto-organico.jpg" alt="Papersider">
                    <h1>Papersider</h1>
                    <h3>Resíduos Orgânicos, Óleo de Cozinha</h3>
                    <p>
                        Cidade Ocidental, Goiás </br>
                        Sq 12, quadra 2, Centro </br>
                        Casa 44
                    </p>
                </div>
            </div>
        </main>
    </div>
    <script src="./js/cadastroEndereco.js"></script>
</body>
</html>