{% extends "layout.html" %}
{% set pageId = "page-resultado" %}
{% block styles %}
    <link rel="stylesheet" href="./css/grid.css">
{% endblock styles %}
{% block title %}
    <title>Next Level - Pontos Cadastrados</title>
{% endblock title %}
{% block contant %}
 
        {% include "header.html" %}

        <main>
            {% if total > 0 %}

                <h4>
                    <strong>{{total}} pontos</strong> encontrados
                </h4>
                <div class="cards">

                    {% for local in locais %}
                        <div class="card">
                            <img src="./assets/pontos.jpg" alt="Colectoria">
                            <h1>{{local.nome}}</h1>
                            <h3>{{local.itens}}</h3>
                            <p>
                                {{local.cidade}}, {{local.estado}} </br>
                                {{local.endereco}}</br>
                                Numero: {{local.numero}}
                            </p>
                        </div>

                    {% endfor %}
                
                </div>

            {% else %}
            <h4>
                <strong>Nenhum local</strong> encontrado!
            </h4>
            {% endif %}
            
        </main>
  
{% endblock contant %}
{% block script %}
    <script src="./js/cadastroEndereco.js"></script>
{% endblock script %}
